<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <h4>Create Video</h4>
          <hr>
          <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="{{ form.name.auto_id }}" name="{{ form.name.name }}" type="text" required>
                  <label for="{{ form.name.auto_id }}">Name</label>
                </div>
                <div class="input-field col s12">
                  <input id="{{ form.theme.auto_id }}" name="{{ form.theme.name }}" type="text" required>
                  <label for="{{ form.theme.auto_id }}">Theme</label>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light" type="submit" name="action">Save
            <i class="material-icons right">save</i>
          </button>
        </div>
    </form>
</div>